*{
    margin:0;
    padding:0;
    list-style:none;
}
.menu{
    background-color:#000;
    text-align:center;
}
.menu li{
    display:inline-block;
    position:relative;
}
.menu li a{
    display:block;
    text-decoration:none;
    color:#fff;
    padding:6px 20px;
}
.menu li:hover,
.menu li a:hover{
    background-color:#fa0;
}

.menu1{
    background-color:gray;
    text-align:left;
}
.menu1 li{
    display:inline-block;
    position:relative;
}
.menu1 li a{
    display:block;
    text-decoration:none;
    color:darkred;
    padding:6px 20px;
}
.subMenu1{
    background-color:lightgray;
    position:absolute;
    width:8em;
    left:-1000px;
    transition:.3s;
}
.subMenu1 li{
    display:block;
}
.subMenu1 li a{
    color:darkred;
    padding:12px 20px;
}
.menu1 li:hover,
.menu1 li a:hover{
    background-color:red;
}
.menu1 li:hover .subMenu1{
    left:0;
}

.menu2{
    background-color:rgba(119, 136, 153, 0.877);
    text-align:right;
}
.menu2 li{
    display:inline-block;
    position:relative;
}
.menu2 li a{
    display:block;
    text-decoration:none;
    color:orange;
    padding:6px 5px 6px 100px;
    text-align:right;
}
.subMenu2{
    background-color:lightgray;
    position:absolute;
    width:10em;
    height:0;
    overflow:hidden;
    transition:.10s;
}
.subMenu2 li{
    display:block;
}
.subMenu2 li a{
    padding:12px 5px 12px 80px;
    text-align:right;
}
.menu2 li:hover,
.menu2 li a:hover{
    background-color:orangered;
}
.menu2 li:hover .subMenu2{
    height:auto;
}

.menu3{
    position:relative;
    background-color:gray;
    text-align:center;
}
.menu3 li{
    display:inline-block;
    width:200px;
    /* background-color:greenyellow; */
    border:1px dashed darkslategray;
}
.menu3 li a{
    display:block;
    text-decoration:none;
    color:darkgreen;
    padding:6px 20px;
}
.subMenu3{
    position:absolute;
    background-color:lightgray;
    width:100%;
    left:0;
    height:0;
    overflow:hidden;
}
.subMenu3 li{
    /* background-color:greenyellow; */
    display:inline-block;
    width:300px;
    height:40px;
    border:1px dashed darkslategray;
}
.subMenu3 li a{
    text-align:center;
    margin:5px 0px 0px 0px;
}
.menu3 li:hover,
.menu3 li a:hover{
    background-color:greenyellow;
}
.subMenu3 li:hover,
.subMenu3 li a:hover{
    background-color:rgba(172, 255, 47, 0.418);
}
.menu3 li:hover .subMenu3{
    height:auto;
}

.menu4{
    position:relative;
    background-color:grey;
    text-align:center;
}
.menu4 li{
    display:inline-block;
}
.menu4 li a{
    display:block;
    text-decoration:none;
    color:darkblue;
    /* text-align:center; */
    padding:6px 60px;
    font-size:18px;
}
.subMenu4-1{
    position:absolute;
    background-color:lightgray;
    left:0;
    transition:.2s;
    transform:perspective(100px) rotateX(90deg);
    transform-origin:right top;
    border-radius:0px 0px 10px 0px;
    opacity:0;
    width:40%;
    text-align:right;
}
.subMenu4-2{
    position:absolute;
    background-color:lightgray;
    left:0;
    transition:.2s;
    transform:perspective(100px) rotateX(90deg);
    transform-origin:right top;
    border-radius:0px 0px 10px 0px;
    opacity:0;
    width:50%;
    text-align:right;
}
.subMenu4-3{
    position:absolute;
    background-color:lightgray;
    left:0;
    transition:.2s;
    transform:perspective(100px) rotateX(90deg);
    transform-origin:center top;
    border-radius:0px 0px 10px 0px;
    opacity:0;
    width:60%;
    text-align:right;
}
.subMenu4-4{
    position:absolute;
    background-color:lightgray;
    left:0;
    transition:.2s;
    transform:perspective(100px) rotateX(90deg);
    transform-origin:left top;
    border-radius:0px 0px 10px 0px;
    opacity:0;
    width:70%;
    text-align:right;
}
.subMenu4-5{
    position:absolute;
    background-color:lightgray;
    left:0;
    transition:.2s;
    transform:perspective(100px) rotateX(90deg);
    transform-origin:left top;
    border-radius:0px 0px 10px 0px;
    opacity:0;
    width:80%;
    text-align:right;
}
.subMenu4-1 li a, .subMenu4-2 li a, .subMenu4-3 li a,
.subMenu4-4 li a, .subMenu4-5 li a{
    padding:12px 20px;
}
/* .subMenu4-1 li a{
    padding:12px 20px;
}
.subMenu4-2 li a{
    padding:12px 20px;
}
.subMenu4-3 li a{
    padding:12px 20px;
}
.subMenu4-4 li a{
    padding:12px 20px;
}
.subMenu4-5 li a{
    padding:12px 20px;
} */
.menu4 li:hover,
.menu4 li a:hover{
    background-color:rgba(14, 86, 131, 0.3);
    border-radius:10px 0px 10px 0px;
}
.subMenu4-1 li:hover, .subMenu4-2 li:hover, .subMenu4-3 li:hover,
.subMenu4-4 li:hover, .subMenu4-5 li:hover{
    background-color:rgb(47, 19, 122, 0.7);
}
/* .menu4 li:hover .subMenu4-1{
    transform:perspective(100px) rotateX(0deg);
    opacity:1;
}
.menu4 li:hover .subMenu4-2{
    transform:perspective(100px) rotateX(0deg);
    opacity:1;
}
.menu4 li:hover .subMenu4-3{
    transform:perspective(100px) rotateX(0deg);
    opacity:1;
}
.menu4 li:hover .subMenu4-4{
    transform:perspective(100px) rotateX(0deg);
    opacity:1;
}
.menu4 li:hover .subMenu4-5{
    transform:perspective(100px) rotateX(0deg);
    opacity:1;
} */
.menu4 li:hover .subMenu4-1, .menu4 li:hover .subMenu4-2, .menu4 li:hover .subMenu4-3,
.menu4 li:hover .subMenu4-4, .menu4 li:hover .subMenu4-5{
    transform:perspective(100px) rotateX(0deg);
    opacity:1;
}

.bg5{
    background-image:url(bg5.jpg);
    /* opacity:0.3; */
}

.header5{
    position:fixed;
    top:0;
    width:100%;
    height:80px;
    background-color:rgb(70, 6, 70);
    z-index:3;
    color:rgb(203, 189, 216);
    text-align:center;
    display:flex;
}
.ct_pink{
    width:auto; height:80px;
}
.ct_green{
    width:auto; height:80px;
}
.ct_blue{
    width:auto; height:80px;
}
.ct_yellow{
    width:auto; height:80px;
}
.ct_gray{
    width:auto; height:80px;
}
.ct_red{
    width:auto; height:80px;
}
.menu5{
    position:absolute;
    width:20%;
    height:100vh;
    top:80px;
    background-color:rgba(158, 134, 154, 0.877);
    text-align:center;
    transform:translateX(-100%);
    transition:transform .3s;
}
.menu5 li:hover{
    background-color:rgb(196, 22, 115);
    border-radius:0px 0px 15px 0px;
}
.menu5 li{
    display:block;
}
.menu5 li a{
    display:block;
    text-decoration:none;
    color:rgb(70, 6, 70);
    padding:20px 20px;
}
.container5{
    font-size:60px;
    text-align:center;
    margin-top:60px;
    transition:transform .3s;
}

#aaa{
    position:fixed;
    top:10px;
    left:30px;
    z-index:-2;
    opacity:0;
}
#aaa:checked ~ .container5{
    transform:translateX(25%);
}
#aaa:checked ~ .header5 .menu5{
    transform:translateX(0%);
}
#aaa:checked ~ .menu_control2{
    display:block;
}
/* #bbb{
    position:fixed;
    top:20px;
    left:30px;
    z-index:20;
}
#bbb:checked ~ .header5,
#bbb:checked ~ .container5{
    transform:translateX(0%);
}
#bbb:checked ~ .menu_control2{
    display:none;
} */

.menu_control::before{
    content:"";
    position:absolute;
    height:2px;
    left:2px;
    width:26px;
    top:0;
    background-color:rgb(70, 6, 70);
    bottom:0;
    margin:auto;
    box-shadow:0px 8px 0px rgb(70, 6, 70), 0px -8px 0px rgb(70, 6, 70);
}
.menu_control{
    position:absolute;
    width:30px;
    height:30px;
    background-color:rgba(158, 134, 154, 0.877);
    top:25px;
    left:5px;
}
/* .menu_control3{
    position:absolute;
    width:455px;
    height:60px;
    background-color:red;
    top:0px;
    left:0px;
    opacity:0%;
} */
.menu_control2{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgb(17, 17, 17);
    opacity:85%;
    z-index:1;
}
.container5{
    width:1200px; margin:100px auto;
    display:flex; flex-wrap:wrap;
    justify-content:center; align-items:center;
}
.article5{
    flex:none;
    width:43%; height:auto;
    margin:10px 10px;
    display:flex; flex-direction:column;
    background-color:rgb(196, 22, 115);
    opacity:85%;
}
.img5{
    max-width:100%;
    max-height:100%;
    opacity:100%;
}
.title5{
    color:rgb(70, 6, 70);
    font-size:40px;
    text-align:center;
    opacity:100%;
}